$emerald: #5dc080;
$soft-black: #0f0f0f;
$pastel-purple: #a58de9;
$enchanted-emerald-gradient: linear-gradient(
    101.21deg,
    #ffffff 0%,
    #11998e 0.01%,
    #38ef7d 100%
);
$amethyst-gradient: linear-gradient(
    101deg,
    #fff 0%,
    #11998e 0.01%,
    #a58de9 0.02%,
    #38ef7d 100%
);

%themeable {
    transition:
        color 0.5s,
        background-color 0.5s,
        fill 0.5s,
        stroke 0.5s,
        border-color 0.5s;
}
