* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-size: 100%;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input:focus,
textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

select,
mark {
    background-color: transparent;
}

dialog {
    margin: 0;
}
